
@{
    ViewBag.Title = "EsqueciSenha";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Selfless+ | Entrar</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Esqueceu a senha</h2>

                    <p>
                        Digite seu endereço de e-mail e sua senha será redefinida e enviada por e-mail para você.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="index.html">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Envie uma nova senha</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                selfless+
            </div>
            <div class="col-md-6 text-right">
                <small>© 2018</small>
            </div>
        </div>
    </div>

</body>

</html>




